<!-- ARTICLES -->
<section class="pb-8  pb-md-11 ">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Heading -->
                <h2 class="mb-0">
                    Les petits nouveaux
                </h2>


                <p class="mb-5 text-muted">

                </p>

            </div>
        </div>
        <!-- / .row -->


        <div class="row">
            {% for chat in chats %}

            <div class="col-12">

                <!-- Card -->
                <a class="card card-row shadow-light-lg mb-6 lift lift-lg" data-aos="fade-right">
                    <div class="row ">
                        <a class="col-12 col-md-6 bg-cover card-img-start"
                           style="background-image: url(/uploads/chats/{{ chat.file }});"
                           href="{{path('chat_details', {'nom':chat.nom })}}">

                            <!-- Image -->

                            <img src="{{ asset('uploads/chats/'~ chat.file) }}"height="400" width="auto" alt="{{ chat.nom }}" class="card-img-top">



                        </a>

                        <div
                                class="col-12 col-md-6">
                            <!-- Body -->
                            <a class="card-body" href="{{path('chat_details', {'nom':chat.nom })}}">

                                <!-- Heading -->
                                <h3>
                                    {{ chat.nom }}
                                </h3>


                                <!-- Text -->
                                <p class="mb-0 text-muted">
                                    {{ chat.caractere |u.truncate(200, '...', false) }}
                                </p>

                            </a>
                            <!-- Meta -->
                            <a class="card-meta">

                                <!-- Divider -->
                                <hr
                                        class="card-meta-divider">

                            </a>




                        </div>
                    </div>
            </div>


        {% endfor %}
        </div>
    </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>


<!-- BREADCRUMB -->
<nav class="d-lg-none bg-gray-800">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">

                <!-- Breadcrumb -->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                <span class="text-white">
                  Docs
                </span>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                <span class="text-white">
                  Lists
                </span>
                    </li>
                </ol>

            </div>
            <div class="col-auto">

                <!-- Toggler -->
                <div class="navbar-dark">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</nav>

<!-- CONTENT -->
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-3 col-xl-2 px-lg-0 border-bottom border-bottom-lg-0 border-end-lg border-gray-300 sidenav sidenav-start">

                <div class="collapse d-lg-block" id="sidenavCollapse">
                    <div class="py-7 py-lg-9 px-lg-7">









                    </div>
                </div>

            </div>
            <div class="col-12 col-lg-6 col-xl-8 offset-lg-3 offset-xl-2 py-7 py-lg-9 px-lg-7">



                <!-- Heading -->
                <div class="d-flex align-items-center">
                    <h3 class="fw-bold me-3" id="listGroupFlush">List group flush</h1>
                        <span class="badge rounded-pill bg-primary-soft mb-2">
                  <span class="h6 text-uppercase fw-bold">Landkit only</span>
                </span>
                </div>

                <!-- Text -->
                <p class="text-gray-700 mb-5">
                    Remove borders and horizontal paddings with a <code>.list-group-flush</code> component.
                </p>

                <!-- Card -->
                <div class="card">
                    <div class="card-body">

                        <div class="list-group list-group-flush">
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="me-auto">

                                    <!-- Heading -->
                                    <p class="fw-bold mb-1">
                                        Unlimited users. One price.
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted mb-0">
                                        We don't charge per seat, just per service.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="me-auto">

                                    <!-- Heading -->
                                    <p class="fw-bold mb-1">
                                        Guaranteed 100% uptime
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted mb-0">
                                        Our server network never goes down.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="me-auto">

                                    <!-- Heading -->
                                    <p class="fw-bold mb-1">
                                        Lifetime storage *
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted mb-0">
                                        We store all your data forever. No extra charge.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                            <div class="list-group-item d-flex align-items-center">

                                <!-- Text -->
                                <div class="me-auto">

                                    <!-- Heading -->
                                    <p class="fw-bold mb-1">
                                        256-bit encryption
                                    </p>

                                    <!-- Text -->
                                    <p class="fs-sm text-muted mb-0">
                                        Keep your communication and data safe.
                                    </p>

                                </div>

                                <!-- Check -->
                                <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                    <i class="fe fe-check"></i>
                                </div>

                            </div>
                        </div>

                    </div>




            </div>
        </div> <!-- / .row -->
    </div>
</section>
