{% extends 'base.html.twig' %}
{% block title %}
    Chat à la loupe
{% endblock %}

{% block body %}


    <!-- CONTENT -->
    <div class="container-fluid px-md-0">
        <div class="row justify-content-between gx-0 mx-md-0 mx-md-0 mb-6 mb-md-2">
            <div class="col-12 col-md-4  vh-md-100 mx-auto" style="top: 0;">

                <!-- Sidebar -->
                <aside class="flex-grow-1 py-8 py-md-10">
                    <ul>

                        <!-- Brand -->
                        <div >
                            <h2>{{ chat.nom }}</h2>
                            {% for categorie in chat.categorie %}
                                <span class="badge bg-secondary">{{ categorie.nom }}</span>
                            {% endfor %}
                        </div>

                        <p class="list-group list-group-flush">

                            {% if chat.reserve %}
                            <li class=" list-group-item">
                        <h6 class="d-flex mb-0 text-uppercase">
                            <strong>  est Réservé(e)!!</strong>
                            <span class="ms-auto"></span>
                        </h6>

                        {% endif %}

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Prénom
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.nom }}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Date de naissance
                                </p>

                                <p class="fw-bold mb-1">
                                   {{chat.dateNaissance|date('d/m/Y') }}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                   Race
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.race }}
                                </p>
                            </div>


                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                   Robe
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.pelage }}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Sexe
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.sexe}}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Stérélisé
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.sterelise }}
                                </p>
                            </div>
                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                   Histoire
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.histoire| u.truncate(200,'...',false)}}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                   Caractère
                                </p>

                                <p class="fw-bold mb-1">
                                    {{ chat.caractere |u.truncate(200,'...',false) }}
                                </p>
                            </div>
                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                   Testé fiv (test sérologique qui permet de voir si {{ chat.nom }} est porteur du sida du chat)
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.testFiv }}
                                </p>
                            </div>
                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Testé Felv (test sérologique qui permet de voir si {{ chat.nom }} est porteur de la leucose)
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.testFelv }}
                                </p>
                            </div>

                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Frais d'adoption
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.frais }}€
                                </p>
                            </div>
                            <!-- Check -->
                            <div class="badge badge-rounded-circle bg-success-soft ms-4">
                                <i class="fe fe-check"></i>
                            </div>

                        </div>

                        <div class="list-group-item d-flex align-items-center">

                            <!-- Text -->
                            <div class="me-auto">


                                <!-- Text -->
                                <p class="fs-sm text-muted mb-0">
                                    Famille d'accueil à contacter
                                </p>

                                <p class="fw-bold mb-1">
                                    {{chat.contact }}
                                </p>
                            </div>


                    </ul>

                </aside>

            </div>


            <div class="col-12 col-md-7">

                <img src="{{ asset('uploads/chats/'~ chat.image) }}" height="600" width="auto" >
                <img src="{{ asset('uploads/chats/'~ chat.img )}}" height="600" width="auto">
                <img src="{{ asset('uploads/chats/'~ chat.file) }}" height="600" width="auto">


            </div>

        </div>
    </div>

    <!-- SHAPE -->
    <div class="position-relative" style="z-index: 1;">
        <div class="shape shape-bottom shape-fluid-x text-light">
            <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"/></svg>      </div>
    </div>

    {% include "commentaire/form.html.twig" %}
    {% include"commentaire/commentaires.html.twig" %}


{% endblock %}




